:root {
  --primary-color: #bae6fd;
  --secondary-color: #7dd3fc;
  --strong-color: #172554;
  --primary-light-color: #f0f9ff;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
  font-family: 'Lato', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header .container {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: var(--strong-color);
  color: var(--primary-light-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ham {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.main {
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 51px - 80px);
}

.content {
  display: flex;
  flex-direction: column;
}

.sidebarMenu {
  background-color: var(--secondary-color);
  padding: 2rem 10%;
  font-size: 1.2rem;
  display: none;
}

.sidebarBtn {
  background-color: var(--secondary-color);
  border: none;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

.sidebarBtn:hover {
  background-color: var(--primary-light-color);
}

.sidebarBtn img {
  width: 28px;
  height: 28px;
}

.projects {
  list-style-type: none;
}

.projects li {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  justify-content: space-between;
}

.projects li:hover {
  background-color: var(--primary-light-color);
  .li-right {
    opacity: 1;
  }
}

.li-left {
  display: flex;
  gap: 1rem;
}

.li-right {
  opacity: 0;
}

.projects li img {
  width: 24px;
  height: 24px;
}

.content__title {
  margin: 2rem 0;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.task__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio-btn {
  width: 24px;
  height: 24px;
}

.addTask {
  background-color: var(--primary-light-color);
  color: var(--strong-color);
  padding: 0.8rem 1.2rem;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
}

.addTask img {
  width: 28px;
}

footer {
  text-align: center;
  background-color: var(--strong-color);
  color: var(--primary-light-color);
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

div.active {
  display: block;
}

.sidebarAddCancel {
  max-width: 100%;
  padding-left: 1rem;
  padding-top: 0.4rem;
}

#inputWorkspace {
  width: 150px;
  height: 30px;
  outline: none;
  background-color: var(--primary-light-color);
  border: none;
  border-radius: 0.4rem;
  padding-left: 0.5rem;
}

.inputBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 150px;
  gap: 0.4rem;
  margin-top: 0.4rem;
}

.inputBtn button {
  height: 30px;
  background-color: var(--strong-color);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.hide {
  display: none;
}

@media (min-width: 620px) {
  .content {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  .sidebarMenu {
    align-self: stretch;
    padding-inline: 2rem;
    display: block;
  }
  .main {
    padding-inline: 10%;
  }
  .ham {
    display: none;
  }
}
